// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-lato: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.35;
$font-weight-bold: 700;
$font-weight-black: 900;

// Colors
$white: #fff;
$black: #000;
$text-color: #444;
$text-color-darker: #333;
$placeholder-color: #919191;
$breadcrumb-grey: #a7a7a7;
$extra-hero-card-background: #e0e0e0;
$blue: #0089cf;
$orange: #f99d1c;
$red: #cd1719;
$footer-blue: #0075b0;
$footer-light-blue: $blue;
$grey-background: #f4f4f3;
$card-border-darker: #d2d2d2;
$input-like-background: #dcdcdc;
$input-like-label-color: #666;
$scroll-grey: #a2a2a2;
$error-red: #f44336;
$button-blue: #1976d2;
$button-orange: #f99d1c;

// Others
$border-radius-small: 4px;
$border-radius: 10px;
$border-radius-double: 2 * $border-radius;

// Carlos's variables
$terms-width: 40vw;
$terms-width-xl: 60vw;
$terms-width-lg: 90vw;
$checkout-button-width: 70%;
$delete-height: 230px;
$delete-width: 300px;
$account-width: 346px;
